---
call_to_action: Get In Touch
call_to_action_url: '#contact'
title: Client Work
layout: default
---

<section class="theater">
  <div class="video-group">
    <div class="video-embed"></div>
    <div class="video-thumbs grid small-gutter">
      {% for video in site.data.work %}
        <a href="#" data-video="{{ video.code }}"><img src="/images/{{ video.image }}"></a>
      {% endfor %}
    </div>
  </div>
</section>

<section id="contact" class="contact">
  <div class="two-of-five">{% include contact.html %}</div>
</section>
