<form id="contact" action="https://formspree.io/{{ site.email }}" method="POST">
  <h3>Contact Marcus</h3>
  <p><input required id="name" name="name" type="text" placeholder="Name"></p>
  <p><input required id="email" name="email" type="text" placeholder="Email Address"></p>
  <p><textarea required id="message" name="message" placeholder="Message"></textarea></p>
  <input type="hidden" name="_subject" value="Clover Bloom Productions" />
  <input type="hidden" name="_next" value="//cloverbloomproductions.com/thanks.html" />
  <input type="text" id="gotcha" name="_gotcha" style="display:none" />
  <input type="hidden" name="_format" value="plain">
  <p class='button-row'><button type="submit">Send Message</button></p>
</form>
